[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/doctest/doctest.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "Scripts/externals/udhcp"]
	path = Scripts/externals/udhcp
	url = https://github.com/iplinux/udhcp
[submodule "Scripts/externals/civetweb"]
	path = Scripts/externals/civetweb
	url = https://github.com/civetweb/civetweb
