[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/doctest/doctest.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "externals/civetweb"]
	path = externals/civetweb
	url = https://github.com/civetweb/civetweb
[submodule "externals/udhcp"]
	path = externals/udhcp
	url = https://github.com/iplinux/udhcp
